<div class="container-fluid">

  <div class="row mt-5">
    <div class="col text-center">
      <div class="display-1">Hello and Welcome!</div>
    </div>
  </div>

  <div class="row mt-5 text-center">
    <div class="col">
      <h3 [style.font-weight]="'300'">
        In this app, I'll be exporing Angualar's internationalization and localization features
      </h3>
    </div>
  </div>

  <div class="row mt-5 text-center mx-5">
    <div class="col">
      <table
        id="transaction-table"
        class="table table-primary table-striped text-center mx-auto table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12/14/2022</td>
            <td>12</td>
            <td>2" Flat Brushes</td>
            <td>$8.99</td>
            <td>$107.88</td>
          </tr>
          <tr>
            <td>-</td>
            <td>4</td>
            <td>Pads of Watercolor Paper</td>
            <td>$23.49</td>
            <td>$93.96</td>
          </tr>
          <tr>
            <td>-</td>
            <td>12</td>
            <td>Watercolor Palettes</td>
            <td>$9.99</td>
            <td>$119.88</td>
          </tr>
          <tr>
            <td>-</td>
            <td>2</td>
            <td>12 Color Watercolor Paint Set</td>
            <td>$28.55</td>
            <td>$57.10</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <th scope="row">TOTAL:</th>
            <td class="fw-bold">$378.82</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
