<div class="container-fluid">

  <div class="row mt-5">
    <div class="col text-center">
      <div
        i18n
        class="display-1">
        Hello and Welcome!
      </div>
    </div>
  </div>

  <div class="row mt-5 text-center">
    <div class="col">
      <h3
        i18n
        [style.font-weight]="'300'">
        In this app, I'll be exporing Angular's internationalization and localization features
      </h3>
    </div>
  </div>

  <div class="row mt-5 text-center mx-5">
    <div class="col">
      <table
        id="transaction-table"
        class="table table-primary table-striped text-center mx-auto table-bordered">
        <thead>
          <tr>
            <th
              i18n
              scope="col">
              Date
            </th>
            <th
              i18n
              scope="col">
              Amount
            </th>
            <th
              i18n
              scope="col">
              Description
            </th>
            <th
              i18n
              scope="col">
              Price
            </th>
            <th
              i18n
              scope="col">
              Subtotal
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{"12/14/2022" | date: 'M/d/yy'}}</td>
            <td i18n>12</td>
            <td i18n>2" Flat Brushes</td>
            <td i18n>{{"8.99" | currency}}</td>
            <td i18n>{{"107.88" | currency}}</td>
          </tr>
          <tr>
            <td>-</td>
            <td i18n>4</td>
            <td i18n>Pads of Watercolor Paper</td>
            <td i18n>{{"23.49" | currency}}</td>
            <td i18n>{{"93.96" | currency}}</td>
          </tr>
          <tr>
            <td>-</td>
            <td i18n>12</td>
            <td i18n>Watercolor Palettes</td>
            <td i18n>{{"9.99" | currency}}</td>
            <td i18n>{{"119.88" | currency}}</td>
          </tr>
          <tr>
            <td>-</td>
            <td i18n>2</td>
            <td i18n>12 Color Watercolor Paint Set</td>
            <td i18n>{{"28.55" | currency}}</td>
            <td i18n>{{"57.10" | currency}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <th
              i18n
              scope="row">
              TOTAL:
            </th>
            <td
              i18n
              class="fw-bold">
              {{"378.82" | currency}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
